<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
        line-height: 1.6;
        background-color: #f9f9f9;
    }

    .email-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
    }

    .email-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .email-header h1 {
        color: #B19CD9;
    }

    .email-content p {
        margin: 10px 0;
    }

    .email-button-container {
        text-align: center;
        margin: 20px 0;
    }

    .email-button {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        background-color: #B19CD9;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }

    .email-footer {
        margin-top: 30px;
        text-align: center;
        font-size: 0.9em;
        color: #777;
    }

    .email-divider {
        border: none;
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }

    .email-signature {
        text-align: center;
        font-size: 0.8em;
        color: #aaa;
    }
</style>

<main class="email-container">
    {{!-- Ajouter logo SVG ici --}}
    <div class="email-header">
        <h1>Réinitialisation de votre mot de passe</h1>
    </div>
    <div class="email-content">
        <p>
            Vous recevez ce message parce que vous avez demandé à réinitialiser votre mot de passe pour votre compte KittyChat.
            Veuillez cliquer sur le bouton ci-dessous pour procéder à la réinitialisation :
        </p>
        <div class="email-button-container">
            <a href="{{url}}" class="email-button">Réinitialiser mon mot de passe</a>
        </div>
        <p>
            Ce lien est valable uniquement pendant 15 minutes. Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer ce message.
        </p>
    </div>
    <p class="email-footer">
        L'équipe KittyChat
    </p>
    <hr class="email-divider">
    <p class="email-signature">
        月にかわって、おしおきよ!
    </p>
</main>
